h1{
    padding-top: 30px;
    padding-bottom: 30px;
}
body{
    background-color: rgb(183, 228, 228);
}
.container{
   
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 2px solid rgb(217, 215, 215);
    height: 500px;
    width: 800px;
   margin-top: 100px;
   background-color: aliceblue;
  
}
.form{
    padding-top: 30px;
}

.registration-form{
    width: 500px;
    margin: auto;
}

.title{
    text-align: center;
}
.submit-btn{
    padding-top: 10px;
    text-align: center;
}
.valid-feedback{
    /* display: block; */
}
.invalid-feedback{
    /* display: block; */
}